#red {
    border-color: red;
    color: red;
}

#blue {
    border-color: blue;
    color: blue;
}

#green {
    border-color: green;
    color: green;
}
#yellow {
    border-color: yellow;
    color: yellow;
}

#brown {
    border-color: brown;
    color: brown;
}

#purple {
    border-color: purple;
    color: purple;
}