.body {
    margin: 0;
}

.tyt {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hjh {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 90px;
}

.cvc {
    display: flex;
    flex-direction: row;
}

.cvc .sas {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.ghg {
    display: flex;
    align-items: center;
}

.bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/e1/19/9f/e1199f10de28b89380f9310a8c334039.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.perter {
    margin-top: 100px;
}

.one-bloc {
    padding: 50px 0;
}

.two2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.our {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('https://avatars.mds.yandex.net/i?id=df85d25836b7d2761d71e4e2bab12c846c8391db3394139f-4897119-images-thumbs&n=13');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1500px;
    height: 400px;
}

.two-bloc {
    /*margin-top: 100px;*/
}

.picher {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     border: white;
}

.bloc {
    display: flex;
    align-items: center;
    margin-top: 65px;
    padding-left: 69px;
    margin: 10px;
}
.Himan{
    padding-left: 230px;
    font-size: 130%
}
.riet {
    padding-left: 150px;
    font-size: 140%
}
.text{
    padding-left: 50px;
    font-size: 120%
}
