.body {
    margin: 0;
}

.tyt {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hjh {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    height: 90px;
}

.cvc {
    display: flex;
    flex-direction: row;
}

.cvc .sas {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.ghg {
    display: flex;
    align-items: center;
}

.bottom {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.perter {
    margin-top: 100px;
}

